body {
  font-family: monospace;
  font-size: 26px;
  background-color: purple;
  color: white;
}

.vl {
  border-left: 3px solid white;
  height: 100vh;
}

.codeblock {
	background-color: black;
	color: white;
}

h1 {
	width: 100%;
}